.tipsy{
font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
	font-size:12.5px;
	padding:5px;
	position:absolute;
	z-index:100;
}

.tipsy-arrow {
	background:url('../imgs/tipsy.png') no-repeat top left;
	height:5px;
	position:absolute;
	width:9px;
}

.tipsy-e .tipsy-arrow {
	background-position:top right;
	height:9px;
	margin-top:-4px;
	right:0;
	top:50%;
	width:5px;
}

.tipsy-inner {
	background-color:#fffeef;
	color:#000;
	/*max-width:200px;*/
	padding:5px 4px 4px 4px;
	text-align:left;
   border:1px solid rgba(0,0,0,0.4);
	box-shadow: 0 0 6px #999;
}

.tipsy-inner {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.tipsy-n .tipsy-arrow {
	left:50%;
	margin-left:4px;
	top:0;
}

.tipsy-ne .tipsy-arrow {
	right:10px;
	top:0;
}

.tipsy-nw .tipsy-arrow {
	left:10px;
	top:0;
}

.tipsy-s .tipsy-arrow {
	background-position:bottom left;
	bottom:0;
	left:45%;
	margin-left:4px;
}

.tipsy-se .tipsy-arrow {
	background-position:bottom left;
	bottom:0;
	right:10px;
}

.tipsy-sw .tipsy-arrow {
	background-position:bottom left;
	bottom:0;
	left:10px;
}

.tipsy-w .tipsy-arrow {
	height:9px;
	left:0;
	margin-top:-4px;
	top:50%;
	width:5px;
}
